body h1{
    text-align: center;
}

body p{
     font-family: serif;
}
body #primer-parrafo{
    background-color:  #CEE;
}

body #primer-parrafo em{
    color: #933;
}

a{
    outline: 1px solid #333;
}

body p.fuente.parrafo{
    opacity: 100%;
}

p:not([id]){
   color: rgba(190, 120, 240, 0.6);
}
body p.fuente.parrafo{
    color:  #000 !important;
}
.complicado{
    font-weight: bold;
    color: #C62 !important;
}
